@model ClassLibrary1.Visitante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conteo_visitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conteo_visitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero_identificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
